#page-3{
    max-height: 100%;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    .bg{
        position: absolute;
        img{
            object-fit: cover;
        }
        z-index: 0;
        right: 0;
        bottom: 0;
    }
    .group730{
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        // mix-blend-mode: color-dodge;
        border-radius: 127.907px;
        width: 36.19%;
        height: 77.68%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .group235{
        position: absolute;
        z-index: 0;
        left: 62%;
        top: 31%;
        // mix-blend-mode: color-dodge;
        border-radius: 127.907px;
        width: 12.91%;
        height:22.96%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .group111{
        position: absolute;
        z-index: 0;
        left: 50%;
        bottom: 0;        
        transform: translateX(-50%);    
        img{
            width: 100%;
            height: 100%;
        }
    }
    .li-border-1,.li-border-2,.li-border-3,.li-border-4,.li-border-5,.li-border-6{
        display: none;
    }
    .container{
        height: 100%;        
        overflow-y: auto;
        padding: 78px 15px;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(30px);
        box-sizing: border-box;
        h2{
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);
        }
        .list-features{
            counter-reset: ctr;
            padding-left: 60px;
            margin-bottom: 2em;
            li{
                counter-increment: ctr;
                border: 1px solid #1AD7FD;
                border-radius: 5px;
                padding: 10px;
                margin: 10px 0px;
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
                position: relative;
                &::marker{
                    display: none;
                }
                &::before{
                    position: absolute;
                    right : calc(100% + 19px);
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    content: '0' counter(ctr);
                    width: 29px;
                    height: 29px;
                    background: #1AD7FD;
                    border-radius: 40px;
                    flex: none;
                    font-family: 'Barlow';
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    padding: 5px;
                    box-sizing: border-box;
                    top: 6px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    right : calc(100% + 15px);
                    top: 2px;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    width: 37px;
                    height: 37px;
                    border: 1px solid #1AD7FD ;
                    border-radius: 40px;
                    flex: none;
                    font-family: 'Barlow';
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    padding: 5px;
                    box-sizing: border-box;
                }
            }
        }
        .flex-center{
            display: flex;
            justify-content: center;
        }
        .read{
            img{
                margin-right: 15px;
            }
            border: none;
            align-self: center;
            background: transparent;
            display: flex;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            letter-spacing: 0.1em;
            text-transform: uppercase;

            /* 1AD7FD */

            color: #1AD7FD;
            margin-bottom: 2em;
        }
    }
    @media (min-width:1024px) {
    &::-webkit-scrollbar{
        display: none;
    }
        .container{
            overflow-y: initial;
            background: initial;
            backdrop-filter: initial;
            padding: 0;
            h2{
                position: absolute;
                top: 70.14%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 48px;
                line-height: 58px;
                text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);
            }
            .read{
                position: absolute;
                top: 78.98%;
                left: 50%;
                transform: translateX(-50%);
            }
            .list-features{
                li{
                    &::before{
                        display: none;
                    }
                    &::after{
                        display: none;
                    }
                    border: none;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 150%;
                    position: absolute;
                    div{
                        transition: 0.5s ease-in-out;
                    }
                    transition: 0.5s ease-in-out;
                    &:hover{
                        text-shadow: 1px 1px 3px #1AD7FD;
                        transform: scale(1.1);
                        div{
                            filter: invert(1);
                        }                        
                    }
                    &.l1{
                        right: 69.79%;
                        width: 360px;
                        top: 26.63%;
                    }
                    &.l2{
                        right: 73.92%;
                        top: 44.87%;
                    }
                    &.l3{
                        right: 80%;
                        top: 59.314815%;
                    }
                    &.l4{
                        left: 76.86%;
                        top: 28.48%;
                    }
                    &.l5{
                        left: 75.45%;
                        top: 50.05%;
                    }
                    &.l6{
                        left: 40.81%;
                        top: 32.33%;
                        width: 302px;
                        text-transform: none;
                    }
                }
            }
        }
        .li-border-1,.li-border-2,.li-border-3,.li-border-4,.li-border-5,.li-border-6{
            display: block;
            position: absolute;
        }
        .li-border-1{
            right: -94px;
            top: -111px;
        }
        .li-border-2{
            right: -136px;
            top: -34px;
        }
        .li-border-3{
            left: -21px;
            top: -29px;
        }
        .li-border-4{
            left: -79px;
            top: -31px;        
        }
        .li-border-5{            
            left: -72px;
            top: -32px;            
        }
        .li-border-6{
            left: -37px;
            top: -18.67%;
        }
    }   
}