#page-4{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 1;    
    .bg-mobie{
        overflow: hidden;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        .bg-1{
            position: absolute;
            object-fit: cover;
            width: 100%;
        }
        .bg-2{
            position: absolute;
            bottom: 0;
            width: 100%;
            object-fit: contain;
        }        
    }
    .bg-desktop{
        display: none;
    }
    .container{
        height: 100%;
        padding: 78px 15px 0;
        box-sizing: border-box;
        h2{
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);
            margin-bottom: 48px;
        }
        .phases{
            display: flex;
            margin:0  -15px;
            flex-wrap: wrap;
            .phase{
                width: 50%;
                color: white;
                padding: 0 15px;
                box-sizing: border-box;
                margin-bottom: 20px;
                h4{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 24px;
                    margin-bottom: 1px;
                }
                ul{
                    width: 100%;
                    padding: 0 0px 0px 15px;
                    box-sizing: border-box;
                    list-style-type: disc;
                    li{
                        font-family: 'Barlow';
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    .border,.desktop-icon{
        display: none;
    }
    @media (min-width:1024px) {
        .bg-mobie{
            display: none;
        }
        .bg-desktop{
            display: block;
            z-index: -1;
            width: 100%;
            height: 100%;
            position: absolute;
            img{
                object-fit: cover;
                width: 100%;
            }
        }
        .border,.desktop-icon{
            display: block;
        }
        .container{
            h2{
                position: absolute;
                top: 80.83%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 48px;
                line-height: 58px;
                text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);
            }
            .phases{
                margin: auto;
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 13vh;
                transition: 0.3s ease-in-out;
                .phase{
                    width: fit-content;
                    display: flex;
                    flex-direction: column-reverse;
                    position: relative;
                    padding: 0 64px;
                    ul{
                        list-style-type: none;
                        padding-left: 0;
                        position: relative;
                        li{
                            background: rgba(26,215,253,.5);
                            width: 225px;
                            padding: 10px 15px;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 24px;
                            transition: 0.3 s ease-in-out;
                            &::marker{
                                display: none;
                            }
                            &::before{
                                content: ' \00B7';
                                display: inline-block;
                                width: 0.5em;
                                font-size: 18px;
                                font-weight: bold;
                            }
                            margin-bottom: 10px;
                            border: 1px dashed #1AD7FD;
                        }
                    }
                    header{
                        position: absolute;
                        top:calc(100% + 39px);
                        left: 0;
                        transition: 0.3s ease-in-out;
                        .desktop-icon{
                            .planet{
                                transition: 0.3 s ease-in-out;
                                width: 100px;
                                height: 100px;
                                transition: 0.3s ease-in-out;
                            }
                            .core{
                                position: absolute;
                                bottom: 36%;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }                        
                        h4{
                            text-align: center;
                        }
                    }
                    .border{
                        .top-left,.top-right,.top{
                            position: absolute;
                        }
                        .top-left{
                            top: -13px;
                            left: -13px;
                        }
                        .top-right{
                            top: -25px;
                            right: -13px;
                        }
                        .top{
                            top: -13px;
                            right: 0;
                        }
                    }
                    &:hover{
                        header{
                            transform: translateY(-4px);
                        }
                        .planet{
                            filter: drop-shadow(0px 0px 40px #1AD7FD);                            
                        }
                        ul{
                            li{
                                background: rgba(26,215,253,1);
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}