#page-7{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: right;
    padding-top: 53px;
    .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top left;
        }
    }
    .content{
        position: relative;
        margin-bottom: 20vh;
        margin-right: 15px;
        width: 250px;
        padding: 33px;
        margin-left: auto;
        top: 0;
        right: 0;
        color: white;
        text-transform: uppercase;
        text-align: right;
        h2{
            margin-bottom: 13px;
            text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);
            font-weight: bold;
            font-size: 19px;
            line-height: 23px;
            white-space: nowrap;
        }
        p{
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            span{
                color: var(--theme-color);
            }
        }
        img{
            position: absolute;
            top: 0;
            right: 0;
        }
    } 
    @media (min-width:1024px) {
        .bg{
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            img{
                object-position: center;
                object-fit: contain;
            }
        }
        .content{
            width: 100%;            
            margin: auto 0 0;
            padding:50px  25vw 16vh;
            text-align: left;
            background: linear-gradient( rgba(238, 238, 238, 0.1) 0%, rgba(238, 238, 238, 0) 100%);
            backdrop-filter: blur(10px);
            h2{
                margin-bottom: 16px;
                font-size: 48px;
                line-height: 58px;
            }
            p{
                font-size: 18px;
                line-height: 22px;
                width :622px;
            }
            img{
                display: none;
            }
        }       
    }
}