#page-14 {
  width: 100%;
  position: relative;
  z-index: 0;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    &::after {
      content: "";
      background: linear-gradient(0deg, #020818, #020818);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @media (min-width: 1024px) {
        background: linear-gradient(109.17deg, #00314d 0%, #500082 97.85%);
        opacity: 0.95;
        opacity: 0.9;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content-page14 {
    min-height: 100vh;
    padding: 52px 15px 50px;
    box-sizing: border-box;
    margin: auto;
    max-width: 1620px;
    @media (min-width: 1024px) {
      padding: 89px 15px 0;
    }
    @media (min-width: 1620px) {
      padding: 109px 15px 0;
    }
    & > main {
      & > h3 {
        display: none;
        @media (min-width: 1024px) {
          font-family: "nasalization";
          display: block;
          font-size: 20px;
          color: #ffffff;
          text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 18%;
          left: 8%;
          white-space: nowrap;
          text-transform: uppercase;
        }
        @media (min-width: 1620px) {
          font-size: 48px;
          top: 0;
          left: 0;
        }
      }
      @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 25% 60%;
        gap: 10%;
        padding: 10px;
        max-width: 1200px;
        margin: auto;
        margin-top: 50px;
        &::before {
          position: absolute;
          top: calc(230px / 2);
          right: calc(78px);
          @media (min-width: 1620px) {
            top: 0;
            right: 0;
          }
          content: "";
          width: 230px;
          height: 78px;
          background-color: white;
          clip-path: polygon(
            0% 0%,
            calc(100% - 40px) 0%,
            100% 40px,
            100% 100%,

            calc(100% - 2px) 100%,
            calc(100% - 2px) 40px,
            calc(100% - 40px) calc(0% + 2px),
            0% calc(0% + 2px)
          );
        }
        &::after {
          position: absolute;
          bottom: 50px;
          left: calc(78px);
          @media (min-width: 1620px) {
            bottom: 0;
            left: 0;
          }
          content: "";
          width: 230px;
          height: 78px;
          background-color: white;
          clip-path: polygon(
            0% 0%,
            0% calc(100% - 40px),
            40px 100%,
            100% 100%,

            100% calc(100% - 2px),
            40px calc(100% - 2px),
            calc(0% + 2px) calc(100% - 40px),
            calc(0% + 2px) 0%
          );
        }
      }
      @media (min-width: 1620px) {
        grid-template-columns: 30% 60%;
        margin-top: 75px;
        padding: 38px;
        position: relative;
        max-width: initial;
      }
      .ADVISORS {
        margin-bottom: 1em;
        position: relative;
        height: 100%;
        & > h3 {
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          color: white;
          font-size: 19px;
          text-align: center;
          line-height: 1.6em;
          text-shadow: 4px 4px 4px #1ad7fd;
          @media (min-width: 1024px) {
            display: none;
          }
        }
        & > svg {
          display: none;
          @media (min-width: 1024px) {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -100px;
            width: 100px;
          }
        }
        .my_team {
          display: flex;
          flex-wrap: wrap;
          @media (min-width: 1024px) {
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 0;
          }
          @media (min-width: 1620px) {
            padding: 0 50px;
          }
          .person {
            display: grid;
            grid-template-columns: 64px auto;
            gap: 15px;
            width: 50%;
            box-sizing: border-box;
            @media (min-width: 1024px) {
              width: 100%;
              grid-template-columns: 64px auto 16px;
              gap: 30px;
              margin-bottom: 3em;
            }
            @media (min-width: 1620px) {
              grid-template-columns: 106px auto 16px;
            }
            .avatar {
              width: 64px;
              height: 64px;
              border-radius: 50%;
              @media (min-width: 1024px) {
                width: 64px;
                height: 64px;
              }
              @media (min-width: 1620px) {
                width: 106px;
                height: 106px;
              }
            }
            .description {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .person-name {
                font-size: 8px;
                font-weight: bold;
                font-family: "Microgramma-D-OT-Bold";
                font-style: normal;
                line-height: 1.5em;
                text-transform: uppercase;
                color: #ffffff;
                @media (min-width: 1024px) {
                  font-size: 12px;
                }
                @media (min-width: 1620px) {
                  font-size: 14px;
                }
              }
              .position {
                font-family: "Barlow";
                font-style: normal;
                font-weight: 500;
                font-size: 6px;
                text-transform: uppercase;
                color: #1ad7fd;
                @media (min-width: 1024px) {
                  font-size: 12px;
                }
              }
            }
            .linkedin {
              display: none;
              @media (min-width: 1024px) {
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
      .PARTNERS {
        position: relative;
        height: 100%;
        & > h3 {
          margin-top: 25px;
          margin-bottom: 30px;
          color: white;
          font-size: 19px;
          text-align: center;
          line-height: 1.6em;
          text-shadow: 4px 4px 4px #1ad7fd;
          @media (min-width: 1024px) {
            display: none;
          }
        }
        .container {
          display: grid;
          grid-template-columns: 50% 50%;
          @media (min-width: 1024px) {
            margin: auto;
            display: flex;
            flex-wrap: wrap;
          }
          .item {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 15px;
            position: relative;
            width: 100%;
            height: 75px;
            box-sizing: border-box;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            &.appoata {
              img {
                width: calc(199px * 0.5);
                height: calc(62px * 0.5);
              }
            }
            &.acestarter {
              img {
                width: calc(231px * 0.5);
                height: calc(62px * 0.5);
              }
            }
            &.polygon {
              img {
                width: calc(254.86px * 0.5);
                height: calc(133px * 0.5);
              }
            }
            &.klaytn {
              img {
                width: calc(183px * 0.5);
                height: calc(50.24px * 0.5);
              }
            }
            &.chainplay {
              img {
                width: calc(256.1px * 0.5);
                height: calc(104.73px * 0.5);
              }
            }
            &.coincu {
              img {
                width: calc(195px * 0.5);
                height: calc(44.73px * 0.5);
              }
            }
            &.Dorahack {
              img {
                width: calc(297px * 0.5);
                height: calc(65.36px * 0.5);
              }
            }
            &.coinex {
              img {
                width: calc(116px * 1);
                height: calc(52.93px * 1);
                top: 26px;
                left: 75px;
              }
            }
            &.irons {
              img {
                width: calc(217.29px * 0.5);
                height: calc(203px * 0.5);
              }
            }
            &.abga {
              img {
                width: calc(218.53px * 0.5);
                height: calc(57.37px * 0.5);
              }
            }
            &.techfest {
              img {
                width: calc(228.36px * 0.5);
                height: calc(86.48px * 0.5);
              }
            }
            &.eos {
              img {
                width: calc(286px * 0.5);
                height: calc(87.42px * 0.5);
              }
            }
            &.evm {
              img {
                width: calc(235.37px * 0.5);
                height: calc(51.59px * 0.5);
              }
            }
            @media (min-width: 1024px) {
              height: 100px;
              width: 33.33%;
              &.appoata {
                img {
                  width: 149px;
                  height: 46.5px;
                }
              }
              &.acestarter {
                img {
                  width: 173.25px;
                  height: 46.5px;
                }
              }
              &.polygon {
                img {
                  width: 191.01px;
                  height: 99.75px;
                }
              }
              &.klaytn {
                width: 25%;
                img {
                  width: calc(137.26px * 0.8);
                  height: calc(37.68px * 0.8);
                }
              }
              &.chainplay {
                width: 25%;
                img {
                  width: calc(192.07px * 0.9);
                  height: calc(78.54px * 0.9);
                }
              }
              &.coincu {
                img {
                  width: 146.25px;
                  height: 33.54px;
                }
              }
              &.Dorahack {
                width: 25%;
                img {
                  width: calc(222.75px * 0.8);
                  height: calc(49.02px * 0.8);
                }
              }
              &.coinex {
                width: 33.33%;
                top: 26px;
                left: 75px;
                img {
                  width: 427, 8px;
                  height: 223, 5px;
                }
              }
              &.irons {
                img {
                  width: 162px;
                  height: 152.35px;
                }
              }
              &.abga {
                width: 25%;
                img {
                  width: calc(162px * 0.8);
                  height: calc(43.02px * 0.8);
                }
              }
              &.techfest {
                img {
                  width: calc(228.36px * 0.7);
                  height: calc(86.48px * 0.7);
                }
              }
              &.eos {
                img {
                  width: calc(286px * 0.7);
                  height: calc(87.42px * 0.7);
                }
              }
              &.evm {
                img {
                  width: calc(235.37px * 0.7);
                  height: calc(51.59px * 0.7);
                }
              }
            }
            @media (min-width: 1620px) {
              width: 33.33%;
              height: 135px;
              box-sizing: border-box;
              &.appoata {
                img {
                  width: 199px;
                  height: 62px;
                }
              }
              &.acestarter {
                img {
                  width: 231px;
                  height: 62px;
                }
              }
              &.polygon {
                img {
                  width: 254.86px;
                  height: 133px;
                }
              }
              &.klaytn {
                width: 25%;
                img {
                  width: calc(183px * 0.8);
                  height: calc(50.24px * 0.8);
                }
              }
              &.chainplay {
                width: 25%;
                img {
                  width: calc(256.1px * 0.8);
                  height: calc(104.73px * 0.8);
                }
              }
              &.coincu {
                img {
                  width: 195px;
                  height: 44.73px;
                }
              }
              &.Dorahack {
                width: 25%;
                img {
                  width: calc(297px * 0.8);
                  height: calc(65.36px * 0.8);
                }
              }
              &.coinex {
                width: 33.33%;
                img {
                  width: calc(570.41px * 0.8);
                  height: calc(298px * 0.8);
                }
              }
              &.irons {
                img {
                  width: 217.29px;
                  height: 203px;
                }
              }
              &.abga {
                width: 25%;
                img {
                  width: calc(218.53px * 0.8);
                  height: calc(57.37px * 0.8);
                }
              }
              &.techfest {
                img {
                  width: 228.36px;
                  height: 86.48px;
                }
              }
              &.eos {
                img {
                  width: 286px;
                  height: 87.42px;
                }
              }
              &.evm {
                img {
                  width: 235.37px;
                  height: 51.59px;
                }
              }
            }
          }
        }
      }
      .titleFooter {
        position: absolute;
        bottom: 15px;
        right: 15px;
        color: white;
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }
}
