#page-14 {
  width: 100%;
  position: relative;
  z-index: 0;
  height: 100%;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content-page14 {
    margin: auto;
    max-width: 1245px;
    display: flex;
    flex-direction: column;
    padding: 113px 15px 50px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    .MEDIA-SECURITY {
      margin-bottom: 110px;
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);
        margin-bottom: 37px;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        width: 100%;
        align-items: center;
        .col {
          margin-bottom: 15px;
          img {
            display: block;
            margin: auto;
            @media (max-width: 1024px) {
              height: 34.67px;
              width: auto;
              object-fit: cover;
            }
          }
          &:last-child {
            img {
              display: block;
              margin: auto;
              @media (max-width: 1024px) {
                height: 40px;
                width: 250px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
  .my_team {
    display: flex;
    flex-wrap: wrap;
    .person {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      padding: 0 15px;
      box-sizing: border-box;
      margin-bottom: 24px;
      .avatar {
        width: 155.62px;
        height: 155.62px;
        border-radius: 50%;
        margin-bottom: 22px;
      }
      .person-name {
        margin-bottom: 0.25rem;
        font-family: "Microgramma-D-OT-Bold";
        font-style: normal;
        font-weight: bold;
        font-size: 12.5556px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 4px;
      }
      .position {
        margin-bottom: 0.5rem;
        font-family: "Barlow";
        font-style: normal;
        font-weight: 600;
        font-size: 10.53px;
        min-height: 2.5em;
        display: flex;
        align-items: center;
        line-height: 1.0625rem;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #1ad7fd;
      }
      .description {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 600;
        font-size: 6.27778px;
        line-height: 8px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #acafc3;
        margin-bottom: 20px;
      }
    }
  }
  .title {
    display: flex;
    margin-bottom: 48px;
    justify-content: center;
    width: 100%;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      /* identical to box height */

      text-transform: uppercase;

      color: #555a77;

      text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);
      &#title2 {
        display: none;
      }
    }
  }

  .titleFooter {
    display: none;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  @media (min-width: 1024px) {
    .title {
      justify-content: space-around;
      h2 {
        font-size: 32px;
        line-height: 1.5em;
        &#title2 {
          display: initial;
        }
        &.active {
          color: var(--theme-color);
        }
      }
    }
    .content-page14 {
      padding: 23vh 0 18vh;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .Partners,
      .MEDIA-SECURITY {
        display: none;
        &.active {
          display: flex;
        }
      }
      .MEDIA-SECURITY {
        padding: 75px 0 0;
        h2 {
          display: none;
        }
        .container {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          .col {
            width: 50%;
            img {
              padding: 0 37px;
            }
          }
        }
      }
    }
    .titleFooter {
      display: block;
      margin-top: auto;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      top: 862px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
      margin-top: auto;
      text-align: center;
    }
    .my_team {
      width: 100%;
      max-width: 1240px;
      margin: 0 auto;
      justify-content: center;
      .person {
        margin-bottom: 1em;
        width: 25%;
        padding: 0 15px;
        position: relative;
        overflow: hidden;
        .avatar {
          width: 100px;
          height: auto;
          max-width: 100%;
          margin-bottom: 1.5em;
          z-index: 99;
          // filter: grayscale(100%);
        }
        .person-name {
          font-size: 18px;
          line-height: 22px;
          width: 100%;
          text-align: center;
          transition: 0.5s ease-in-out;
          z-index: -1;
        }
        .description {
          flex-direction: row-reverse;
          position: absolute;
          padding: 0 15px;
          display: flex;
          width: 100%;
          top: 100%;
          left: 0%;
          margin-bottom: 0;
          justify-content: center;
          box-sizing: border-box;
          transition: 0.5s ease-in-out;
          .position {
            font-size: 12px;
            line-height: 17px;
            padding-left: 1em;
            text-align: center;
            margin-bottom: 0;
          }
          img {
            display: block;
            flex-shrink: none;
            margin: auto 0;
          }
        }
        &:hover {
          .description {
            transform: translateY(-100%);
          }
          .person-name {
            transform: translateY(150%);
          }
        }
      }
    }
  }
  @media (min-width: 1620px) {
    .title {
      h2 {
        font-size: 48px;
        line-height: 58px;
      }
    }
    .my_team {
      width: 100%;
      max-width: 1240px;
      margin: 0 auto;
      .person {
        // margin-bottom: 1.5rem;
        width: 25%;
        padding: 0 15px;
        .avatar {
          width: 169px;
        }
      }
    }
  }
}
