#page-11{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;    
    .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center 83px;
        }
    }
    .content{
        position: relative;
        margin: 31vh auto auto 15px;
        width: calc(100% - 75px);
        padding: 17px 35px 0px 34px;
        color: white;
        top: 0;
        left: 0;
        box-sizing: content-box;
        text-transform: uppercase;
        text-align: left;
        h2{
            margin-bottom: 13px;
            text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);
            font-weight: bold;
            font-size: 19px;
            line-height: 23px;
        }
        p{
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            width: 243px;
            span{
                color: var(--theme-color);
            }
        }
        img{
            position: absolute;
            left: 0;
            top: 0;
        }
    } 
    @media (min-width:1024px) {
        .bg{
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            img{
                object-position: cover;
                object-fit: contain;
            }
        }
        .content{
            width: fit-content;
            margin: 17vh 11vw auto auto;
            text-align: right;
            padding: 0 0 37px 0 ;
            h2{
                margin-bottom: 24px;
                font-size: 48px;
                line-height: 58px;
                width: 671px;
            }
            p{
                font-size: 18px;
                line-height: 22px;
                width: 525px;
                margin-left: auto;
            }
            img{
                bottom: 0;
                right: 0;
                top:initial;
                left: initial;
            }
        }       
    }
}