#page-3 {
  max-height: 100%;
  height: 100%;
  width: 100%;  
  position: relative;
  .bg {
    position: absolute;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    z-index: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .group235,
  .group236 {
    display: none;
    position: absolute;
  }
  .li-border-1,
  .li-border-2,
  .li-border-3,
  .li-border-4,
  .li-border-5,
  .li-border-6 {
    display: none;
  }
  .container {
    position: relative;
    height: 100%;
    padding: 118px 15px 100px;
    box-sizing: border-box;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);      
    }
    .list-features {
      counter-reset: ctr;
      padding-left: 60px;
      margin-bottom: 2em;
      li {
        counter-increment: ctr;
        border: 1px solid #1ad7fd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
        position: relative;
        &::marker {
          display: none;
        }
        &::before {
          position: absolute;
          right: calc(100% + 19px);
          display: flex;
          text-align: center;
          justify-content: center;
          content: "0" counter(ctr);
          width: 29px;
          height: 29px;
          background: #1ad7fd;
          border-radius: 40px;
          flex: none;
          font-family: "Barlow";
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          padding: 5px;
          box-sizing: border-box;
          top: 6px;
        }
        &::after {
          content: "";
          position: absolute;
          right: calc(100% + 15px);
          top: 2px;
          display: flex;
          text-align: center;
          justify-content: center;
          width: 37px;
          height: 37px;
          border: 1px solid #1ad7fd;
          border-radius: 40px;
          flex: none;
          font-family: "Barlow";
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          padding: 5px;
          box-sizing: border-box;
        }
      }
    }
    .flex-center {
      display: flex;
      justify-content: center;
    }
    .read {
      img {
        margin-right: 15px;
      }
      border: none;
      align-self: center;
      background: transparent;
      display: flex;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      letter-spacing: 0.1em;
      text-transform: uppercase;

      /* 1AD7FD */

      color: #1ad7fd;
      margin-bottom: 2em;
    }
  }
  @media (min-width: 1024px) {
    .bg {
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          linear-gradient(
            90deg,
            rgba(2, 8, 24, 0.8) 0%,
            rgba(2, 8, 24, 0) 51.04%,
            rgba(2, 8, 24, 0.8) 100%
          );
        top: 0;
        left: 0;
      }
    }
    .group235,
    .group236 {
      display: block;
    }
    .group236 {
      width: 20vw;
      left: 58.86%;
      top: 45.48%;
      img {
        width: 10vw;
      }
    }
    .group235 {
      img {
        width: 36vw;
      }
      top: 0;
      left: 0;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .container {
      overflow-y: initial;
      background: initial;
      backdrop-filter: initial;
      padding: 0;
      h2 {
        position: absolute;
        top: 79.14%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 32px;
        line-height: 58px;
        text-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5);
      }
      .read {
        position: absolute;
        top: 87.98%;
        left: 50%;
        transform: translateX(-50%);
      }
      .list-features {
        img {
          transform: scale(0.8);
        }
        li {
          &::before {
            display: none;
          }
          &::after {
            display: none;
          }
          border: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          position: absolute;
          div {
            transition: 0.5s ease-in-out;
          }
          transition: 0.5s ease-in-out;
          &:hover {
            text-shadow: 1px 1px 3px #1ad7fd;
            transform: scale(1.1);
            div {
              filter: invert(1);
            }
          }
          &.l1 {
            right: 65.79%;
            width: 280px;
            top: 35.66%;
          }
          &.l2 {
            right: 72.92%;
            top: 54.87%;
          }
          &.l3 {
            right: 80%;
            top: 71.314815%;
          }
          &.l4 {
            left: 63.86%;
            top: 40.48%;
          }
          &.l5 {
            left: 70.45%;
            top: 58.05%;
          }
          &.l6 {
            left: 40.81%;
            top: 34.33%;
            width: 250px;
            text-transform: none;
          }
        }
      }
    }
    .li-border-1,
    .li-border-2,
    .li-border-3,
    .li-border-4,
    .li-border-5,
    .li-border-6 {
      display: block;
      position: absolute;
    }
    .li-border-1 {
      right: -94px;
      top: -111px;
    }
    .li-border-2 {
      right: -136px;
      top: -34px;
    }
    .li-border-3 {
      left: -58px;
      top: -35px;
    }
    .li-border-4 {
      left: -93px;
      top: -31px;
    }
    .li-border-5 {
      left: -93px;
      top: -32px;
    }
    .li-border-6 {
      left: -74px;
      top: -36.67%;
    }
  }
  @media (min-width: 1620px) {
    .group236 {
      left: 62.86%;
      top: 44.48%;
      img {
        width: 12vw;
      }
    }
    .group235 {
      img {
        width: 35vw;
      }
      top: 0;
      left: 0;
    }
    .container {
      h2 {
        font-size: 48px;
      }
      .read {
        top: 85.98%;
      }
      .list-features {
        li {
          font-size: 18px;
          &.l1 {
            right: 68.79%;
            width: 360px;
            top: 35.63%;
          }
          &.l2 {
            right: 74.92%;
            top: 53.87%;
          }
          &.l3 {
            right: 81%;
            top: 66.314815%;
          }
          &.l4 {
            left: 71.86%;
            top: 40.48%;
          }
          &.l5 {
            left: 75.45%;
            top: 60.05%;
          }
          &.l6 {
            left: 42.81%;
            top: 32.33%;
            width: 302px;
            text-transform: none;
          }
        }
        img {
          transform: initial;
        }
      }
      .li-border-1 {
        right: -94px;
        top: -111px;
      }
      .li-border-2 {
        right: -136px;
        top: -34px;
      }
      .li-border-3 {
        left: -21px;
        top: -29px;
      }
      .li-border-4 {
        left: -79px;
        top: -31px;
      }
      .li-border-5 {
        left: -72px;
        top: -32px;
      }
      .li-border-6 {
        left: -37px;
        top: -18.67%;
      }
    }
  }
}
