#slide_home {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-button-disabled {
    display: none !important;
  }
  .swiper-pagination-bullet {
    color: transparent;
    // background: rgb(26,215,253);
    background-color: white;
    backdrop-filter: blur(10px);
    border-radius: 2px;
    width: 10px;
    height: 10px;
    position: relative;
    margin: calc(9px);
    opacity: 0.5;
    &:first {
      margin-left: 0 !important;
    }
    // &:last-child {
    //   margin-right: 0 !important;
    // }
    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  .swiper-pagination {
    bottom: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
  }
  height: 100vh;
  @media (min-width: 1024px) {
    .swiper-pagination {
      display: block;
      top: 50vh;
      width: fit-content;
      flex-direction: column;
      right: 1vw;
      height: fit-content;
    }
    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      margin: 12px;
    }
    // .swiper-button-next,
    // .swiper-button-prev {
    // }
    // .swiper-pagination-bullet {
    //   &::before {
    //   }
    //   &::after {
    //   }
    //   &.swiper-pagination-bullet-active {
    //     &::before {
    //     }
    //     &::after {
    //       left: calc(6px * 5 + 30px);
    //     }
    //   }
    // }
  }
}
#team_slide {
  position: relative;
  .swiper-pagination-bullet {
    color: transparent;
    // background: rgb(26,215,253);
    background-color: white;
    backdrop-filter: blur(10px);
    border-radius: 2px;
    width: 10px;
    height: 10px;
    position: relative;
    margin: calc(9px);
    opacity: 0.5;
    &:first {
      margin-left: 0 !important;
    }
    // &:last-child {
    //   margin-right: 0 !important;
    // }
    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  .swiper-pagination_team {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 99;
  }
}
