// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  ._header_top {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    top: 40px;
    padding: 0 40px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    @media (max-width: 1024px) {
      top: 30px;
      padding-left: 30px;
    }
    @media (max-width: 480px) {
      top: 20px;
      padding-left: 20px;
    }
    .menu_wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      @media (max-width: 1024px) {
        display: none;
      }
    }
    .menu {
      display: flex;
      margin-bottom: 0;
      li {
        list-style: none;
        margin-right: 60px;
        &.is-active {
          position: relative;
          &:after {
            position: absolute;
            content: "";
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url("../../../images/ldp/decor_menu.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
          }
          a {
            font-family: "KoHo-Bold";
          }
        }
        a {
          font-family: "KoHo-Regular";
          font-size: 15px;
          line-height: 19px;
          text-align: center;
          letter-spacing: -0.005em;
          text-transform: capitalize;
          color: #ffffff;
          display: block;
          text-decoration: none;
        }
      }
    }
    .btn-discover {
      background: #ffd03e;
      box-shadow: 0px 4px 16px rgba(253, 220, 122, 0.6);
      border-radius: 4px;
      width: 220px;
      height: 50px;
      font-family: "KoHo-Bold";
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #101b1e;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
    .hamburger {
      width: 27px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      display: none;
      position: relative;
      z-index: 99;
      @media (max-width: 1024px) {
        display: flex;
      }
      span {
        width: 27px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 5px;
        margin-bottom: 6px;
        display: block;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &.is-active {
        span {
          background: #fddc7a;
          &:nth-of-type(1) {
            width: 18px;
          }
          &:nth-of-type(3) {
            width: 13px;
          }
        }
      }
    }
    .menu_mobile {
      position: absolute;
      top: -30px;
      right: 0;
      padding: 0;
      background: rgba(51, 51, 51, 0.9);
      width: 40%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      opacity: 0;
      transition: 0.5s;
      pointer-events: none;
      @media (max-width: 480px) {
        width: 100%;
      }
      &.is-active {
        opacity: 1;
        pointer-events: unset;
      }
      li {
        list-style: none;
        width: 100%;
        a {
          font-family: "KoHo-Regular";
          font-size: 25px;
          line-height: 19px;
          text-align: center;
          letter-spacing: -0.005em;
          text-transform: capitalize;
          color: #ffffff;
          display: block;
          text-decoration: none;
          padding: 20px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
      }
    }
    .btn-discover-mobile {
      background: #ffd03e;
      box-shadow: 0px 4px 16px rgba(253, 220, 122, 0.6);
      border-radius: 4px;
      font-family: "KoHo-Bold";
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #101b1e;
      position: fixed;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: 220px;
      height: 50px;
      @media (max-width: 1024px) {
        display: flex;
      }
    }
    .bg_header {
      position: fixed;
      width: 100%;
      height: 123px;
      background: linear-gradient(
        180deg,
        rgba(4, 17, 34, 0) 0%,
        rgba(4, 17, 34, 0.75) 48.27%,
        #041122 129.27%
      );
      left: 0;
      bottom: 0;
      display: none;
      @media (max-width: 1024px) {
        display: block;
      }
    }
  }
}
///////////////////////////////////
// update header
.main-header {
  position: fixed;
  z-index: 99;
  width: 100vw;
  background: rgba(238, 238, 238, 0.1);
  backdrop-filter: blur(30px);
  width: 100%;
  height: 53px;
  box-sizing: border-box;
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    .logo,
    .breadcrum,
    .switch {
      display: flex;
      align-items: center;
      padding: 8px;
      box-sizing: border-box;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
    .logo,
    .switch {
      width: 53px;
      display: block;
      img {
        width: 36px;
        height: 36px;
      }
    }
    .breadcrum {
      flex: auto;
      color: white;
      padding-left: 16px;
      p {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
    .switch {
      background: transparent;
      border: none;
      svg {
        margin: auto;
      }
      .open {
        display: block;
      }
      .close {
        display: none;
      }
      &.active {
        .open {
          display: none;
        }
        .close {
          display: block;
        }
      }
    }
  }
  // desktop
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(22, 22, 22, 0.2);
    backdrop-filter: blur(10px);
    .container {
      flex: initial;
      width: initial;
      border: initial;
      .breadcrum,
      .switch {
        display: none;
      }
      .logo {
        width: initial;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        img {
          width: 65px;
          height: 65px;
          transform: translateY(5px);
        }
        border: initial;
      }
    }
  }
  @media (min-width: 1620px) {
    height: 109px;
  }
}
