.main-nav{    
    position: fixed;
    height: calc(100vh - 53px);
    overflow: auto;
    bottom: 0;
    top: 53px;
    width: 100%;
    left: 100%;
    display: flex;
    flex-direction: column;    
    background: rgba(238, 238, 238, 0.1);
    backdrop-filter: blur(30px);
    transition: 0.3s ease-in-out;
    &.active{
        left: 0%;
    }
    .menu__content{
        margin: auto;  
        .list_menu {
            width: 100%;
            align-items: center;
            text-align: center;
            a{
                text-decoration: none;
                display: block;
                padding: 19.5px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 25px;
                letter-spacing: 0.1em;
                text-transform: uppercase;        
                color: #FFFFFF;
            }
            li{
                img{
                    display: none;
                }
            }
        }
    }
    .social{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        margin-bottom: 30px;
        a{
            display: inline-block;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    // desktop
    @media (min-width:1024px) {
        overflow: initial;
        position: initial;
        left: initial;
        bottom: initial;
        top: initial;
        width: initial;        
        background: initial;
        backdrop-filter: initial;
        height: 100%;
        .menu__content {            
            height: 100%;
            .list_menu{
                flex-direction: row;
                height: 100%;                
                display: flex;
                li{
                    display: flex;
                    align-items: center;
                    padding-top: 6px;
                    height: 100%;
                    position: relative;
                    transform: skewX(-28.6478898deg);
                    img{
                        display: block;
                        position: absolute;
                        bottom: 0;
                        transform:  skewX(+28.6478898deg) translateX(-50%) translateY(+29%);
                        left: 40%;
                        transition: 0.3s ease-in-out;
                        opacity: 0;
                        z-index: -1;
                    }
                    &:hover{
                        img{
                            opacity: 1;
                        }
                    }
                    &.active{
                        a{
                            span{
                                color: var(--theme-color);
                            }
                        }
                    }
                    // &::after{
                    //     position: absolute;
                    //     left: 0;
                    //     content: '';
                    //     background: rgba(255, 255, 255, 0.5);
                    //     display: block;
                    //     height: 100%;
                    //     width: 1.02px;
                    //     top: -3.5px;
                    // }
                }
                a{                
                    font-weight: 400;                   
                    font-size: 16px;
                    padding: 6px 50px;
                    height: 100%;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    span{
                        display: inline-block;                        
                        transform: skewX(+28.6478898deg) translateY(5px);
                        transition: 0.3s ease-in-out;
                    }
                    &:hover{
                        span{
                            transform:  skewX(+28.6478898deg) translateY(5px) scale(1.1);
                        }
                    }
                }
            }
        }
        .social{
            display: none;
        }
    }
    @media (min-width:1620px) {
        .menu__content{
            .list_menu{
                .a{
                    font-size: 16px;
                }
            }
        }
    }
}