.main-nav {
  position: fixed;
  height: calc(100vh - 53px);
  overflow: auto;
  bottom: 0;
  top: 53px;
  width: 100%;
  left: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(38, 38, 38, 0.8);
  backdrop-filter: blur(30px);
  transition: 0.3s ease-in-out;
  &.active {
    left: 0%;
  }
  .menu__content {
    margin: auto;
    .list_menu {
      width: 100%;
      align-items: center;
      text-align: center;
      a {
        text-decoration: none;
        display: block;
        padding: 19.5px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
      }
      li {
        img {
          display: none;
        }
      }
    }
  }
  .social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 30px;
    a {
      display: inline-block;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  // desktop
  @media (min-width: 1024px) {
    overflow: initial;
    position: initial;
    left: initial;
    bottom: initial;
    top: initial;
    width: initial;
    background: initial;
    backdrop-filter: initial;
    height: 100%;
    max-width: calc(100% - 163px);
    .menu__content {
      height: 100%;
      .list_menu {
        flex-direction: row;
        height: 100%;
        display: flex;
        li {
          display: flex;
          align-items: center;
          padding-top: 6px;
          height: 100%;
          position: relative;
          img {
            display: block;
            position: absolute;
            bottom: 0;
            transform: translateX(-50%) translateY(+29%);
            left: 50%;
            transition: 0.3s ease-in-out;
            opacity: 0;
            z-index: -1;
          }
          &:hover {
            img {
              opacity: 1;
            }
          }
          &.active {
            a {
              span {
                color: var(--theme-color);
              }
            }
          }
        }
        a {
          font-weight: 400;
          font-size: 14px;
          padding: 6px 24px;
          height: 100%;
          display: flex;
          text-align: center;
          align-items: center;

          white-space: nowrap;
          span {
            display: inline-block;
            transition: 0.3s ease-in-out;
          }
          &:hover {
            span {
              color: var(--theme-color);
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .social {
      display: none;
    }
  }
  @media (min-width: 1620px) {
    .menu__content {
      .list_menu {
        .a {
          font-size: 16px;
        }
        a {
          font-size: 16px;
          padding: 6px 50px;
        }
      }
    }
  }
}
