@font-face {
  font-family: "Microgramma-D-OT-Bold";
  src: url("../../../assets/fonts/Microgramma-D-OT-Bold-Extended_30403.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Microgramma-D-OT-Medium";
  src: url("../../../assets/fonts/Microgramma-D-OT-Medium-Extended_30404.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
.Barlow {
  font-family: "Barlow", sans-serif;
}
.Microgramma {
  font-family: "Microgramma-D-OT-Medium", sans-serif;
}
.Microgramma-b {
  font-family: "Microgramma-D-OT-Bold", sans-serif;
}
