.main-nav {
  position: fixed;
  height: calc(100vh - 53px);
  overflow: auto;
  bottom: 0;
  top: 53px;
  width: 100%;
  left: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(38, 38, 38, 0.8);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  transition: 0.3s ease-in-out;
}
.main-nav.active {
  left: 0%;
}
.main-nav .menu__content {
  margin: auto;
}
.main-nav .menu__content .list_menu {
  width: 100%;
  align-items: center;
  text-align: center;
}
.main-nav .menu__content .list_menu a {
  text-decoration: none;
  display: block;
  padding: 19.5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.main-nav .menu__content .list_menu li img {
  display: none;
}
.main-nav .social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 30px;
}
.main-nav .social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  .main-nav {
    overflow: initial;
    position: initial;
    left: initial;
    bottom: initial;
    top: initial;
    width: initial;
    background: initial;
    -webkit-backdrop-filter: initial;
            backdrop-filter: initial;
    height: 100%;
    max-width: calc(100% - 163px);
  }
  .main-nav .menu__content {
    height: 100%;
  }
  .main-nav .menu__content .list_menu {
    flex-direction: row;
    height: 100%;
    display: flex;
  }
  .main-nav .menu__content .list_menu li {
    display: flex;
    align-items: center;
    padding-top: 6px;
    height: 100%;
    position: relative;
  }
  .main-nav .menu__content .list_menu li img {
    display: block;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%) translateY(29%);
    left: 50%;
    transition: 0.3s ease-in-out;
    opacity: 0;
    z-index: -1;
  }
  .main-nav .menu__content .list_menu li:hover img {
    opacity: 1;
  }
  .main-nav .menu__content .list_menu li.active a span {
    color: var(--theme-color);
  }
  .main-nav .menu__content .list_menu a {
    font-weight: 400;
    font-size: 14px;
    padding: 6px 24px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
  }
  .main-nav .menu__content .list_menu a span {
    display: inline-block;
    transition: 0.3s ease-in-out;
  }
  .main-nav .menu__content .list_menu a:hover span {
    color: var(--theme-color);
    transform: scale(1.1);
  }
  .main-nav .social {
    display: none;
  }
}
@media (min-width: 1620px) {
  .main-nav .menu__content .list_menu .a {
    font-size: 16px;
  }
  .main-nav .menu__content .list_menu a {
    font-size: 16px;
    padding: 6px 50px;
  }
}

header ._header_top {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  top: 40px;
  padding: 0 40px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
@media (max-width: 1024px) {
  header ._header_top {
    top: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 480px) {
  header ._header_top {
    top: 20px;
    padding-left: 20px;
  }
}
header ._header_top .menu_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 1024px) {
  header ._header_top .menu_wrap {
    display: none;
  }
}
header ._header_top .menu {
  display: flex;
  margin-bottom: 0;
}
header ._header_top .menu li {
  list-style: none;
  margin-right: 60px;
}
header ._header_top .menu li.is-active {
  position: relative;
}
header ._header_top .menu li.is-active:after {
  position: absolute;
  content: "";
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../../../images/ldp/decor_menu.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
header ._header_top .menu li.is-active a {
  font-family: "KoHo-Bold";
}
header ._header_top .menu li a {
  font-family: "KoHo-Regular";
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.005em;
  text-transform: capitalize;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}
header ._header_top .btn-discover {
  background: #FFD03E;
  box-shadow: 0px 4px 16px rgba(253, 220, 122, 0.6);
  border-radius: 4px;
  width: 220px;
  height: 50px;
  font-family: "KoHo-Bold";
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #101B1E;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
header ._header_top .hamburger {
  width: 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: none;
  position: relative;
  z-index: 99;
}
@media (max-width: 1024px) {
  header ._header_top .hamburger {
    display: flex;
  }
}
header ._header_top .hamburger span {
  width: 27px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 6px;
  display: block;
}
header ._header_top .hamburger span:last-child {
  margin-bottom: 0;
}
header ._header_top .hamburger.is-active span {
  background: #FDDC7A;
}
header ._header_top .hamburger.is-active span:nth-of-type(1) {
  width: 18px;
}
header ._header_top .hamburger.is-active span:nth-of-type(3) {
  width: 13px;
}
header ._header_top .menu_mobile {
  position: absolute;
  top: -30px;
  right: 0;
  padding: 0;
  background: rgba(51, 51, 51, 0.9);
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
@media (max-width: 480px) {
  header ._header_top .menu_mobile {
    width: 100%;
  }
}
header ._header_top .menu_mobile.is-active {
  opacity: 1;
  pointer-events: unset;
}
header ._header_top .menu_mobile li {
  list-style: none;
  width: 100%;
}
header ._header_top .menu_mobile li a {
  font-family: "KoHo-Regular";
  font-size: 25px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.005em;
  text-transform: capitalize;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
header ._header_top .btn-discover-mobile {
  background: #FFD03E;
  box-shadow: 0px 4px 16px rgba(253, 220, 122, 0.6);
  border-radius: 4px;
  font-family: "KoHo-Bold";
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #101B1E;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 220px;
  height: 50px;
}
@media (max-width: 1024px) {
  header ._header_top .btn-discover-mobile {
    display: flex;
  }
}
header ._header_top .bg_header {
  position: fixed;
  width: 100%;
  height: 123px;
  background: linear-gradient(180deg, rgba(4, 17, 34, 0) 0%, rgba(4, 17, 34, 0.75) 48.27%, #041122 129.27%);
  left: 0;
  bottom: 0;
  display: none;
}
@media (max-width: 1024px) {
  header ._header_top .bg_header {
    display: block;
  }
}

.main-header {
  position: fixed;
  z-index: 99;
  width: 100vw;
  background: rgba(238, 238, 238, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  width: 100%;
  height: 53px;
  box-sizing: border-box;
}
.main-header .container {
  display: flex;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}
.main-header .container .logo, .main-header .container .breadcrum, .main-header .container .switch {
  display: flex;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.main-header .container .logo, .main-header .container .switch {
  width: 53px;
  display: block;
}
.main-header .container .logo img, .main-header .container .switch img {
  width: 36px;
  height: 36px;
}
.main-header .container .breadcrum {
  flex: auto;
  color: white;
  padding-left: 16px;
}
.main-header .container .breadcrum p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main-header .container .switch {
  background: transparent;
  border: none;
}
.main-header .container .switch svg {
  margin: auto;
}
.main-header .container .switch .open {
  display: block;
}
.main-header .container .switch .close {
  display: none;
}
.main-header .container .switch.active .open {
  display: none;
}
.main-header .container .switch.active .close {
  display: block;
}
@media (min-width: 1024px) {
  .main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .main-header .container {
    flex: initial;
    width: initial;
    border: initial;
  }
  .main-header .container .breadcrum, .main-header .container .switch {
    display: none;
  }
  .main-header .container .logo {
    width: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: initial;
  }
  .main-header .container .logo img {
    width: 65px;
    height: 65px;
    transform: translateY(5px);
  }
  .main-header::after {
    display: block;
    position: absolute;
    top: -5px;
    width: 100%;
    height: 27px;
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.567) 16.67%, rgba(181, 181, 181, 0) 90%);
  }
}
@media (min-width: 1620px) {
  .main-header {
    height: 109px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#popUp {
  display: flex;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: burl(50px);
          backdrop-filter: burl(50px);
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#popUp.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#popUp.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#popUp img {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 100;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 100;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    z-index: 100;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    z-index: 100;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
#cursor-click {
  position: fixed;
  width: 32px;
  height: 32px;
  background: #1ad7fd;
  opacity: 0.1;
  border-radius: 50%;
  z-index: 999;
  border: 1px solid #1ad7fd;
  -webkit-animation: clickAnimation 0.4s ease-out;
          animation: clickAnimation 0.4s ease-out;
}

@-webkit-keyframes clickAnimation {
  from {
    opacity: 0.1;
    background: #1ad7fd;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    background: transparent;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

@keyframes clickAnimation {
  from {
    opacity: 0.1;
    background: #1ad7fd;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    background: transparent;
    transform: translate(-50%, -50%) scale(1.5);
  }
}
.section {
  position: relative;
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column-reverse;
  align-items: right;
  margin-top: -3.39vw;
}
.section:last-child {
  margin-top: 0px;
}
.section .bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.section .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section .content {
  position: relative;
  color: white;
  margin-bottom: auto;
  box-sizing: content-box;
}
.section .content h2 {
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 23px;
  font-weight: bold;
  white-space: nowrap;
}
@media (min-width: 1420px) {
  .section .content h2 {
    font-size: 60px;
  }
}
.section .content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: justify;
  display: grid;
  grid-template-columns: 50px auto;
  gap: 34px;
}
.section .content p::before {
  flex: 1;
  flex-shrink: 1;
  display: flex;
  width: 50px;
  height: 50px;
  border: 7px solid rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  box-sizing: border-box;
  padding-top: 14px;
  font-family: "Microgramma-D-OT-Bold";
}
@media (min-width: 1420px) {
  .section .content p {
    font-size: 27px;
    grid-template-columns: 89px auto;
  }
  .section .content p::before {
    width: 89px;
    height: 89px;
    font-size: 60px;
  }
}
.section .content img {
  position: absolute;
  top: -50px;
  right: -37px;
}
@media (min-width: 1420px) {
  .section .content img {
    top: -18px;
  }
}
.section#section1 .content {
  margin-top: 21vh;
  margin-left: 0.7%;
  width: 698px;
  padding: 33px;
  text-align: left;
}
@media (min-width: 1420px) {
  .section#section1 .content {
    margin-top: 25vh;
    margin-left: 12.7%;
    width: 998px;
  }
}
.section#section1 .content p::before {
  content: "1";
}
.section#section1 .content img {
  position: absolute;
  top: 0px;
}
@media (min-width: 1420px) {
  .section#section1 .content img {
    top: 84px;
    right: -37px;
  }
}
.section#section1 .Play-trailer,
.section#section1 .social {
  display: none;
}
@media (min-width: 1024px) {
  .section#section1 .Play-trailer {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    position: absolute;
    left: 3%;
    bottom: 12%;
    z-index: 99;
    text-decoration: none;
    filter: brightness(0) invert(1);
  }
  .section#section1 .Play-trailer img {
    height: 1.5em;
    margin-right: 1em;
  }
  .section#section1 .Play-trailer span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 0.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--theme-color);
  }
  .section#section1 .social {
    z-index: 99;
    display: flex;
    position: absolute;
    right: 2%;
    bottom: 12%;
  }
  .section#section1 .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    position: relative;
    opacity: 0.5;
  }
  .section#section1 .social a::before {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: matrix(0.98, 0, -0.19, 1, 0, 0);
    background: #ffffff;
    opacity: 0.5;
    content: "";
    z-index: -1;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.35);
  }
  .section#section1 .social a:hover {
    opacity: 1;
  }
  .section#section1 .social a:hover::before {
    opacity: 1;
  }
  .section#section1 .social a img {
    filter: invert(1);
  }
}
@media (min-width: 1620px) {
  .section#section1 .Play-trailer img {
    height: auto;
    margin-right: 34px;
  }
  .section#section1 .Play-trailer span {
    font-size: 16px;
    line-height: 19px;
  }
  .section#section1 .social {
    right: 3%;
    bottom: 9%;
  }
  .section#section1 .social a {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }
}
.section#section2 .content {
  padding: 33px;
  text-align: left;
  margin-top: 97vh;
  margin-left: 39.7%;
  width: 600px;
}
@media (min-width: 1420px) {
  .section#section2 .content {
    margin-top: 60vh;
    margin-left: 39.7%;
    width: 965px;
  }
}
.section#section2 .content p::before {
  content: "2";
}
.section#section3 .content {
  margin-top: 105vh;
  margin-left: 1.7%;
  width: 796px;
  padding: 33px;
  text-align: left;
}
@media (min-width: 1420px) {
  .section#section3 .content {
    margin-top: 54vh;
    margin-left: 2.7%;
    width: 996px;
  }
}
.section#section3 .content p::before {
  content: "3";
}
.section#section4 .content {
  margin-top: 103vh;
  margin-left: 39.7%;
  width: 665px;
  padding: 33px;
  text-align: left;
}
@media (min-width: 1420px) {
  .section#section4 .content {
    margin-top: 60vh;
    margin-left: 39.7%;
    width: 965px;
  }
}
.section#section4 .content p::before {
  content: "4";
}
.section#section5 .content {
  margin-top: 102vh;
  margin-left: 2.7%;
  width: 665px;
  padding: 33px;
  text-align: left;
}
@media (min-width: 1420px) {
  .section#section5 .content {
    margin-top: 54vh;
    margin-left: 2.7%;
    width: 965px;
  }
}
.section#section5 .content p::before {
  content: "5";
}
.section#section5 > footer {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.section#section5 > footer a {
  color: white;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  font-family: "Microgramma-D-OT-Bold";
  text-transform: uppercase;
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.section#section5 > footer a::before {
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url("../images/RightArrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@font-face {
  font-family: "VARIEN";
  src: url("../../assets/fonts/VARIEN.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MUDHEAD";
  src: url("../../assets/fonts/MUDHEAD.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MUDHEAD-BOLD";
  src: url("../../assets/fonts/MUDHEAD-BOLD.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MUDHEAD-LIGHT";
  src: url("../../assets/fonts/MUDHEAD-LIGHT.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Microgramma-D-OT-Bold";
  src: url("../../assets/fonts/Microgramma-D-OT-Bold-Extended_30403.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Microgramma-D-OT-Medium";
  src: url("../../assets/fonts/Microgramma-D-OT-Medium-Extended_30404.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.Barlow {
  font-family: "Barlow", sans-serif;
}

.Microgramma {
  font-family: "Microgramma-D-OT-Medium", sans-serif;
}

.nasalization-b {
  font-family: "Microgramma-D-OT-Bold", sans-serif;
}

body {
  background-color: #19181f;
  font-family: "Barlow", sans-serif;
  cursor: url("../../assets/images/icon/cursor.png") 10 10, default !important;
}
body * {
  box-sizing: border-box;
}
body a,
body button,
body * {
  cursor: url("../../assets/images/icon/cursor.png") 10 10, default !important;
}

#story {
  min-height: 800px;
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
}/*# sourceMappingURL=main.css.map */