// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// font old
@font-face{
	font-family: 'VARIEN';
	src: url('../../../fonts/VARIEN.OTF')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'MUDHEAD';
	src: url('../../../fonts/MUDHEAD.OTF')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'MUDHEAD-BOLD';
	src: url('../../../fonts/MUDHEAD-BOLD.OTF')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'MUDHEAD-LIGHT';
	src: url('../../../fonts/MUDHEAD-LIGHT.OTF')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
